<h1>お問い合わせページ</h1>

<% @question.errors.full_messages.each do |a| %>
<%= a %>
<% end %>


<% if log_in? %>
<%= form_with(model: @question, local: true) do |f| %>
 <div>
   <%= f.label :content, 'お問い合わせ内容' %>
   <%= f.text_area :content, placeholder: 'お問い合わせの内容を入力してください' %>
 </div>
 <%= f.submit '送信する' %>
<% end %>


<% else %>

<%= form_with(model: @question, local:true) do |f| %>
<div>
  <%= f.label :content, 'お問い合わせ内容' %>
  <%= f.text_area :content, placeholder: 'お問い合わせの内容を入力してください' %>
</div>
<%= f.submit '送信する' %>
<% end %>

<% end %>



