<h1>アカウント作成ページ</h1>

   <% @user.errors.full_messages.each do |message| %>
   <%= message %>
   <% end %>

  <%= form_with(model: @user, local:true) do |f| %>


  <div>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
　　
　 
　 
   <div>
     <p>性別を選択してください</p>
    <label><%= f.radio_button :gender, '男' %>男</label>
    <label><%= f.radio_button :gender, '女'%>女</label>
 　</div>
 
 

  <div>
    <%= f.label :birthdate, '誕生日' %>
    <%= f.date_field :birthdate, as: :date %>
  </div>
  
  <div>
    <%= f.label :phone_number, '電話番号' %>
    <%= f.phone_field :phone_number %>
  </div>
  
  <div>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div>
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  
  <%= f.submit 'sign up' %>
  
  <% end %>
  
  
  
  
