<h1>Eventを検索しよう</h1>
 <%= form_with(url: search_events_path, method: :get, local:true) do |f| %>
   <%= f.text_field :place %>
   <%= f.submit :search %>
 <% end %>
 
 <table>
   <thead>
     <tr>イベント名</tr>
   </thead>
   <tbody>
     <% @events.each do |event| %>
     <tr>
       <td><%= link_to event.id, event_path(event) %> </td>
       <td>イベント名：<%= event.name %></td>
       <td>場所：<%= event.place %></td>
       <td>日付：<%= event.date %></td>
       <td>時間：<%= event.hour %></td>
       <td>最小実行人数：<%= event.minimum_people %></td>
       <td>必要道具一覧：<%= event.material %></td>
       <td>コメント：<%= event.comment %></td>
       <td>イメージ：<%= image_tag event.photo.to_s,  width: "300px" %></td>
        <tr><td>参加者一覧</td><td><% event.event_owner.each do |owner| %><%= owner.name %><% end %></td></tr>
     </tr>
     <% end %>
   </tbody>
 </table>