<h1>イベント詳細ページです。</h1>


<table>
    <tr><td>イベント名</td><td><%= @event.name %></td></tr>
    <tr><td>場所</td><td><%= @event.place %></td></tr>
    <tr><td>日付</td><td><%= @event.date %></td></tr>
    <tr><td>時間</td><td><%= @event.hour %></td></tr>
    <tr><td>最小実行人数</td><td><%= @event.minimum_people %></td></tr>
    <tr><td>必要道具</td><td><%= @event.material %></td></tr>
    <tr><td>コメント</td><td><%= @event.comment %></td><tr>
    <tr><td>写真</td><td><%= image_tag @event.photo.to_s,  width: "300px" %></td></tr>
   <tr><td>参加者一覧</td><td><% @event.event_owner.each do |owner| %><%= owner.name %><% end %></td></tr>
</table>


<% if log_in? %>
<%= button_to 'イベントを修正します??', edit_event_path(@event), method: :get %>
<%= render 'relationships/join_button', event: @event %>
<% end %>

